* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}

body {
    background: rgb(172,172,172);
    background: linear-gradient(0deg, rgba(172,172,172,1) 0%, rgba(255,255,255,1) 100%);
    color: #4e616b
}
.avatar {
    width: 90px;
    align-items: center;
}
h1 {
    font-family: 'Alfa Slab One', cursive;
    margin: 0 0 -15px 0;
    font-weight: 100;
}
h2 {
    font-family: 'Permanent Marker', cursive;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 100;
    font-style: italic;
}
.profile {
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
}
.redes {
    display: flex;
    list-style: none;
    justify-content: space-around;
    
}
.redes img{
    width: 45px;
}
.listaLinks {
    margin: 20px 0 10px 20px;
    list-style: none;
    text-decoration: double;
}

.listaLinks li a {
    display: block;
    margin: 8px 20px 0 0;
    background-color: white;
    padding: 5px 20px;
    list-style: none;
    border-radius: 10px;
    box-shadow:40 gray;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    text-decoration:dotted;

}

.listaLinks li a span {
    color: #7d909b;
    display: block;
    margin-top: -6px;
    font-weight: lighter;
}